@font-face {
	font-family: myFirstFont;
	src: url('./../../../../../public/fonts/Gilroy-Black.ttf');
	weight: 400
}

.header__main{
	display: flex;
	flex-direction: row;
	.header__left{
		display: flex;
		align-items: center;
		justify-content: center;
		form{
			display: flex;
			align-items: center;
			justify-content: center;

		}

		button{
			display: flex;
			align-items: center;
			justify-content: center;
			img{
				background:  #242424;
				position: absolute;
				margin-left: -70px;
			}
		}

		input {
			display: flex;
			width: 460px;
			height: 56px;
			padding-left: 35px  ;
			align-items: center;
			gap: 74.194px;
			flex-shrink: 0;
			border-radius: 41px;
			border: 1px solid var(--Style, #FF2750);
			background: var(--141414, #0D0D0D);
			color: #ffffff;
			font-family: myFirstFont;
			font-size: 17px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			outline: none;
			box-shadow: 0px 0px 57.09677px 0px #FF2750;

		}

	}
}

.container {
	position: relative;
	display: inline-block;
	margin: 20px 26px 20px 0px;
}

.image {
	display: block;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;	
	width: 100%;
	background-color: rgba(6, 5, 5, 0.5);
	padding: 10px;
	color: white;
	font-family: myFirstFont;
}

.autocomplete {
	margin-left: 265px;
    overflow-y: auto;
	color: white;
    width: 460px
}

.suggestion {
	margin-top: 10px;
    padding: 8px;
    border: 1.903px solid #FF2750;
    background-color: transparent;
    border-radius: 19.032px;
    cursor: pointer;
	font-family: myFirstFont;
}

.suggestion:hover {
	background-color: rgba(135, 16, 0, 0.1);
}

.catalogs__content{
	display: flex;
	padding-top: 20px;
	gap: 30px;
	position: relative;
	margin-left: 265px;
}

.input{
	&:focus{
		box-shadow: 0px 0px 57.09677px 0px #FF2750;
	}
}

.header__right{
	display: flex;
	flex-direction: row;
	margin-left: 250px;
}